<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html :: cabecera(title='Detalles')">
    </head>
    
    <body>
        <header th:replace="navbar/navbar.html:: topbar(num=${num})">
        </header>
        <main>
            <!--? Preloader Start -->
            <div th:replace="navbar/navbar.html:: preloader"></div>
            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <h2 class="mt-5" th:text="${prod.nombre}">Detalles</h2>
                        
                        <div class="table-responsive mt-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Precio unitario</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Detalles</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img th:src="@{${path!=null? '/images/' + path: ''}}" alt="" width="160px"height="160px"/>
                                                    </div>
                                                    <div class="media-body">
                                                        <p th:text="|Código: ${prod.codproducto}|">
                                                            Minimalistic shop for multipurpose use</p>
                                                        <p th:text="|Nombre: ${prod.nombre}|">Minimalistic
                                                            shop for multipurpose use</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 th:text="|S./ ${prod.preciounitario}|">$360.00</h5>
                                            </td>
                                            <td>
                                                <h5 th:text="${prod.stock}">$720.00</h5>
                                            </td>
                                            <td>
                                                <h5 th:text="${prod.descripcion}">
                                                    $720.00</h5>
                                            </td>
                                            
                                        </tr>
                                        
                                    
                                    
                                    </tbody>
                                </table>
                                <div class="checkout_btn_inner float-right">
                                    <a  class="btn genric-btn info circle mb-4"
                                       th:href="@{/}">Regresar</a>
                                    <a  class="btn genric-btn info circle mb-4"
                                       th:href="@{'/usuario/addCart?id='+${prod.codproducto}}">+ Añadir al carrito</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>
        >
        <div th:replace="navbar/navbar.html:: footer"></div>
        <!--? Search model Begin -->
        <div class="search-model-box">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-btn">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Searching key.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->
        
        <!-- JS here -->
        
        <div th:replace="navbar/navbar.html:: jscript"></div>
    
    </body>
</html>