<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html :: cabecera(title='Mis Pedidos')">
    </head>

    <body>
        <header th:replace="navbar/navbar.html:: topbar(num=${num})">
        </header>
        <main>
            <!--? Preloader Start -->
            <div th:replace="navbar/navbar.html:: preloader"></div>
            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <h2 class="mt-5">Mis Pedidos</h2>
                        <div class="whole-wrap">
                            <div class="container mx-auto">

                                <div th:if="${msgsuccess != null}" th:text="${msgsuccess}"
                                     class="alert alert-success py-1"
                                     role="alert"></div>
                                <div th:if="${msgEmpty != null}" th:text="${msgEmpty}" class="alert alert-warning py-1"
                                     role="alert"></div>
                            </div>
                        </div>

                        <div th:if="${msgEmpty == null}" class="whole-wrap">
                            <div class="container mx-auto">
                                <form method="post" th:action="@{/pedidos/buscarPedidoPorCod}">
                                    <input name="buscador" class="form-control mb-3 float-md-right" type="text" placeholder="Buscar por codigo de producto"/>
                                </form>
                                <a th:if="${buscador!=null}" th:href="@{/pedidos/}" class="btn btn-danger mt-4 mb-4 float-md-right" >Volver a mostrar la lista completa</a>
                            </div>
                        </div>


                        <div th:if="${msgEmpty == null}" class="table-responsive mt-4">
                            <div  class="table-responsive">
                                <table  class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Codigo de pedido</th>
                                            <th scope="col">Productos</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Fecha de compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="p : ${listaMisPedidos}" >
                                            <td>
                                                <h5 th:text="${p.codpedido}" ></h5>
                                            </td>
                                            <td>
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div th:each="ppp : ${listaProductosPorPedidos}" th:if="${ppp.id.codpedido.codpedido==p.codpedido}" >
                                                            <h5  th:text="|${ppp.id.codproducto.nombre} (${ppp.cantidad}) |"></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 th:text="${p.preciototal}"></h5>
                                            </td>
                                            <td>
                                                <h5 th:text="|${p.fecha.getDayOfMonth()}/${p.fecha.getMonthValue()}/${p.fecha.getYear()}|"></h5>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="checkout_btn_inner float-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>
        

        

        <!-- JS here -->
        <div th:replace="navbar/navbar.html :: footer"></div>
        <div th:replace="navbar/navbar.html:: jscript"></div>

    </body>
</html>