<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html :: cabecera(title='Mi Carrito')">
    </head>
    
    <body>
        <header th:replace="navbar/navbar.html:: topbar(num=${num})">
        </header>
        <main>
            <!--? Preloader Start -->
            <div th:replace="navbar/navbar.html:: preloader"></div>
            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <h2 class="mt-5">Mi Carrito</h2>
                        <div class="whole-wrap">
                            <div class="container mx-auto">
                                <div th:if="${msgerror != null}" th:text="${msgerror}" class="alert alert-danger py-1"
                                     role="alert"></div>
                                <div th:if="${msgsuccess != null}" th:text="${msgsuccess}"
                                     class="alert alert-success py-1"
                                     role="alert"></div>
                                <div th:if="${msgEmpty != null}" th:text="${msgEmpty}" class="alert alert-warning py-1"
                                     role="alert"></div>
                            </div>
                        </div>
                        <div class="table-responsive mt-4">
                            <div th:if="${msgEmpty==null}" class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Precio unitario</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Subtotal</th>
                                            <th>Borrar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="prod : ${session.cart}" th:bgcolor="${prod.available ? '' :'red'}">
                                            <td>
                                                <div class="media">
                                                    <div class="d-flex">
                                                        <img th:src="@{${path!=null? '/images/' + path: ''}}" alt=""/>
                                                    </div>
                                                    <div class="media-body">
                                                        <p th:text="|Código: ${prod.productos.codproducto}|">
                                                            Minimalistic shop for multipurpose use</p>
                                                        <p th:text="|Nombre: ${prod.productos.nombre}|">Minimalistic
                                                            shop for multipurpose use</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 th:text="|S./ ${prod.productos.preciounitario}|">$360.00</h5>
                                            </td>
                                            <td>
                                                <h5 th:text="${prod.cantidad}">$720.00</h5>
                                            </td>
                                            <td>
                                                <h5 th:text="|S./ ${prod.cantidad*prod.productos.preciounitario}|">
                                                    $720.00</h5>
                                            </td>
                                            <td><a type="button"
                                                   th:href="@{'/usuario/borrar?id=' + ${prod.productos.codproducto}}"
                                                   class="btn genric-btn danger circle"><i
                                                    class="fas fa-trash-alt"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <h5>Total:</h5>
                                            </td>
                                            <td>
                                                <h5 th:text="|S./ ${total}|"></h5>
                                            </td>
                                            <td></td>
                                        </tr>
                                    
                                    
                                    </tbody>
                                </table>
                                <div class="checkout_btn_inner float-right">
                                    <a th:if="${msgerror!=null}" class="btn_1 btncartdanger"
                                       th:href="@{/usuario/reviewCart}">Eliminar no disponibles</a>
                                    <a th:if="${msgerror==null}" class="btn_1"
                                       th:href="@{/usuario/checkout}">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>
        >
        <div th:replace="navbar/navbar.html:: footer"></div>
        <!--? Search model Begin -->
        <div class="search-model-box">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-btn">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Searching key.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->
        
        <!-- JS here -->
        
        <div th:replace="navbar/navbar.html:: jscript"></div>
    
    </body>
</html>