<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html :: cabecera(title='Mi Carrito')">
    </head>
    
    <body>
        <header th:replace="navbar/navbar.html:: topbar(num=${num})">
        </header>
        <main>
            <!--? Preloader Start -->
            <div th:replace="navbar/navbar.html:: preloader"></div>
            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <h2>Mi Carrito</h2>
                        <div class="whole-wrap">
                            <div class="container mx-auto">
                                <div th:if="${msgerror != null}" th:text="${msgerror}" class="alert alert-danger py-1"
                                     role="alert"></div>
                                <div th:if="${msgsuccess != null}" th:text="${msgsuccess}" class="alert alert-success py-1"
                                     role="alert"></div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Precio unitario</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Subtotal</th>
                                        <th>Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="prod : ${session.cart}" th:bgcolor="${prod.available ? '' :'red'}">
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img th:src="@{${path!=null? '/images/' + path: ''}}" alt=""/>
                                                </div>
                                                <div class="media-body">
                                                    <p th:text="|Código: ${prod.productos.codproducto}|" >Minimalistic shop for multipurpose use</p>
                                                    <p th:text="|Código: ${prod.productos.nombre}|" >Minimalistic shop for multipurpose use</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5 th:text="${prod.productos.preciounitario}" >$360.00</h5>
                                        </td>
                                        <td>
                                            <h5 th:text="${prod.cantidad}">$720.00</h5>
                                        </td>
                                        <td>
                                            <h5 th:text="${prod.cantidad*prod.productos.preciounitario}">$720.00</h5>
                                        </td>
                                        <td><a type="button" th:href="@{'/usuario/borrar?id=' + ${prod.productos.codproducto}}"
                                               class="btn genric-btn danger circle"><i
                                                class="fas fa-trash-alt"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h5>Total:</h5>
                                        </td>
                                        <td>
                                            <h5 th:text="${total}"></h5>
                                        </td>
                                        <td></td>
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                            <div class="checkout_btn_inner float-right">
                                <a th:if="${msgerror!=null}" class="btn_1 btncartdanger" th:href="@{/usuario/reviewCart}">Eliminar no disponibles</a>
                                <a th:if="${msgerror==null}" class="btn_1"  th:href="@{/usuario/checkout}">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Cart Area =================-->
        </main>
        >
        <footer>
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="../../assets/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do
                                                eiusmod tem.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Links</h4>
                                    <ul>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#"> Offers & Discounts</a></li>
                                        <li><a href="#"> Get Coupon</a></li>
                                        <li><a href="#"> Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>New Products</h4>
                                    <ul>
                                        <li><a href="#">Woman Cloth</a></li>
                                        <li><a href="#">Fashion Accessories</a></li>
                                        <li><a href="#"> Man Accessories</a></li>
                                        <li><a href="#"> Rubber made Toys</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Frequently Asked Questions</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Report a Payment Issue</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer bottom -->
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-8 col-md-7">
                            <div class="footer-copy-right">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                        aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-5">
                            <div class="footer-copy-right f-right">
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>
        <!--? Search model Begin -->
        <div class="search-model-box">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-btn">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Searching key.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->
        
        <!-- JS here -->
        
        <div th:replace="navbar/navbar.html:: jscript"></div>
    
    </body>
</html>