<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html :: cabecera(title='Bienvenido')">
    </head>
    
    <body>
        <!--? Preloader Start -->
        <div th:replace="navbar/navbar.html:: preloader"></div>
        <!-- Preloader Start -->
        <header th:replace="navbar/navbar.html:: topbar(num=${num})">
        </header>
        <main>
            
            
            <!-- Latest Products Start -->
            <section class="popular-items">
                <div class="whole-wrap">
                    <div class="container mx-auto">
                        <h1 class="mb-30" >Nuestros Productos</h1>
                        <div th:if="${msg1 != null}" th:text="${msg1}" class="alert alert-danger py-1"
                             role="alert"></div>
                        <div th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-success py-1"
                             role="alert"></div>
                        
                    </div>
                </div>
                <div th:each="prod: ${listProd}" th:if="${prod.stock>0}" class="whole-wrap">
                    <div class="container mx-auto">
                        <div class="section-top-border">
                            <h3 class="mb-30" th:text="${prod.nombre}">Left Aligned</h3>
                            <div class="row">
                                
                                
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                                    <div class="single-popular-items mb-50 text-center">
                                        <div class="popular-img" style="height: 135px;width: 135px;">
                                            <img th:src="@{${path!=null? '/images/' + path: ''}}" alt=""
                                                 class="mx-auto my-auto mh-100 img-fluid" style="display: block;">
                                            <div class="img-cap">
                                                <a th:href="@{'/detalles?id=' + ${prod.codproducto}}"><span>Ver detalles</span></a>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <!--div class="col-md-3 popular-img" style="height: 216px;">
                                    <img th:src="@{${path!=null? '/images/' + path: ''}}" alt="" class="mx-auto my-auto mh-100 img-fluid" style="display: block;">
                                    <div class="img-cap">
                                        <span>Add to cart</span>
                                    </div>
                                </div-->
                                
                                
                                <div class="col-md-5 mt-sm-20">
                                    <label><b>Código: </b><span><label
                                            th:text="${prod.codproducto}"></label></span></label></br>
                                    <label><b>Precio unitario: </b><span><label> S/.</label><label
                                            th:text="${prod.preciounitario}"></label></span></label></br>
                                    <label><b>Stock: </b><span><label
                                            th:text="${prod.stock}"></label></span></label></br>
                                </div>
                                <div class="col-md-4 mt-sm-20">
                                    <a class="btn genric-btn info circle mb-4 float-md-right" th:href="@{'/usuario/addCart?id='+${prod.codproducto}}"
                                            >+ Añadir al carrito</a>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </section>
    
            
        </main>
        <div th:replace="navbar/navbar.html:: footer"></div>
        
        <!-- JS here -->
        <div th:replace="navbar/navbar.html:: jscript"></div>
    
    </body>
</html>