<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html ::cabecera(title='Recuperar Contraseña')">
    </head>
    <body>

        <div th:replace="navbar/navbar.html :: topbar(num=${num})"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="d-sm-flex align-items-center justify-content-between mb-0 mt-5">
                        <h1 class="h3 mb-4 text-gray-900">Recuperar Contraseña</h1>
                    </div>

                    <p class="mb-4">Ingresa tu correo abajo y te enviaremos tu nueva contraseña</p>

                    <form method="post" th:action="@{/recuperarContraseña}" th:object="${usuario}"
                          enctype="multipart/form-data">

                        <div class="row col-md-12 ">
                            <div class="col-md-6 form-group p_star">
                                <label class="col-form-label">Correo:</label>
                                <input type="text" class="form-control" th:field="*{correo}">
                                <!--div class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
                                    Error
                                </div-->
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a type="button" th:href="@{/loginForm}" class="btn genric-btn danger circle">Regresar</a>
                            <button type="submit" class="btn genric-btn danger circle"><a
                                    style="color:white;text-decoration:none">Recuperar</a></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div th:replace="navbar/navbar.html :: footer"></div>

        <div th:replace="navbar/navbar.html:: jscript"></div>

    </body>
</html>