<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html :: cabecera(title='Login')">
    </head>
    <body>

        <header th:replace="navbar/navbar.html:: topbar(num=${num})">
        </header>

        <main>
            <!--================login_part Area =================-->
            <section class="login_part ">
                <div class="container">

                    <div id="msg" th:if="${msg != null}" th:text="${msg}" class="alert alert-success py-1" role="alert"></div>

                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="login_part_text text-center">
                                <div class="login_part_text_iner">
                                    <h2>¿Nuevo en nuestra tienda?</h2>
                                    <p>En la Tiendita de Don Pepe tenemos los mejores productos en todo el mercado,
                                        así que para adquirirlos primero debes</p>
                                    <a th:href="@{/register}" class="btn_3">Crear una Cuenta</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="login_part_form">
                                <div class="login_part_form_iner">
                                    <h3>Bienvenido ! <br>
                                        Inicia sesión ahora</h3>

                                    <form class="row contact_form" th:action="@{/processLogin}" method="post" novalidate="novalidate">
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="username" name="username"
                                                   placeholder="Usuario" required>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="password" class="form-control" id="password" name="password"
                                                   placeholder="Contraseña" required>
                                        </div>

                                        <h4 th:if="${param.error}" class="form-signin-heading" style="color:#ff0000">Acceso denegado</h4>

                                        <div class="col-md-12 form-group">
                                            <div class="creat_account d-flex align-items-center">
                                                <input type="checkbox" id="rememberme" name="rememberme">
                                                <label for="rememberme">Recuérdame</label>
                                            </div>
                                            <button type="submit" value="submit" class="btn_3">
                                                log in
                                            </button>
                                            <a class="lost_pass" href="#">¿Olvidaste tu contraseña?</a>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================login_part end =================-->
        </main>


        <div th:replace="navbar/navbar.html :: footer"></div>

        <div th:replace="navbar/navbar.html:: jscript"></div>


    </body>
</html>