<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="navbar/navbar.html :: cabecera(title='Formulario Producto')">
    </head>
    <body>


        <header th:replace="navbar/navbar.html:: topbar(num=${2})">
        </header>


        <div class="container mt-5 align-content-center">
            <h3 th:text="${producto.codproducto== null? 'Nuevo Producto' : 'Editar Producto'}"></h3>
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
            <form th:action="@{'/gestor/guardar'}" method="post" novalidate="novalidate"
                  th:object="${producto}">
                <input type="hidden" th:field="*{codproducto}"/>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group ">
                            <label>Nombre del Producto:</label>
                            <input type="text" class="form-control" th:field="*{nombre}"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                        </div>
                        <div class="form-group" th:hidden="${producto.codproducto != null}">
                            <label>Precio unitario:</label>
                            <input type="text" class="form-control" th:field="*{preciounitario}"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('preciounitario')}"
                                 th:errors="*{preciounitario}"></div>
                        </div>
                        <div class="form-group">
                            <label>Stock:</label>
                            <input type="text" class="form-control" th:field="*{stock}"/>
                            <div class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
                        </div>
                        <div class="form-group">
                            <label>Descripcion:</label>
                            <textarea class="form-control" name="message" id="message" rows="1"
                                      th:field="*{descripcion}"
                                      style="margin-top: 0px; margin-bottom: 0px; height: 128px;"></textarea>
                            <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}"
                                 th:errors="*{descripcion}"></div>
                        </div>
                        <div class="form-group" th:hidden="${producto.codproducto != null}">
                            <label>Foto:</label>
                            <input type="file" th:field="*{foto}">
                        </div>
                    </div>
                    <div class="col-lg-5" >
                        <div class="form-group">
                            <img class="img-fluid" th:src="@{/images/crearproducto.jpg}"></img>
                        </div>
                        <div class="form-group mt-5">
                            <a th:href="@{'/gestor/listaProdGestion'}" class="btn genric-btn danger circle mb-4 float-md-right">Cancelar</a>
                            <button type="submit" class="btn genric-btn info circle mb-4 float-md-right" th:text="${producto.codproducto == null? 'Registrar' : 'Actualizar'}"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <!--? Search model Begin -->
        <div class="search-model-box">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-btn">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Searching key.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <div th:replace="navbar/navbar.html:: jscript"></div>
    </body>

</html>